<div id="underConstructionPopup" ng-show="ucPopupIsActive">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <h3>Under construction popup</h3>
            </div>
            <div class="modal-body">
                <h4>This functionality is under construction!</h4>
            </div>
            <div class="modal-footer">
                <div class="btn btn-default" ng-click="hideUCPopup()">Close</div>
            </div>
        </div>
    </div>
</div>